body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom */

/* Adds alternating colors to table rows */
.table tr:nth-child(odd) {
    background-color: azure; /* lightcyan */
}

.table tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}



/* Change color of nav bar : CSS Gradient.io */
.bg-dark {
    color: rebeccapurple;
}


.header {
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}

.header h1, .header h2, .header h3 {
    margin: 0;
    padding: 0 0 0 10px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.main {
    margin: 10px;
    border: 1px solid #eee;
}

.sidebar {
    border: 1px solid rebeccapurple;
    min-height: 600px;
    margin: 10px;
    padding-left: 0;
    padding-right: 0;
}

.sidebar a {
    padding-left: 10px;
    padding-right: 5px;
}