@model TSS.ProgDec.BL.DegreeType

@{
    ViewBag.Title = "Degree Types Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mt-4">
    <h4>DegreeType</h4>
    <hr />
    <dl class="dl-horizontal mt-4">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
